@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
}

/* LOGO (header і footer) */
.logo {
  font-family: "Raleway", sans-serif; 
  font-weight: 700;                  
  font-size: 18px;                   
  line-height: 1.17;                 
  letter-spacing: 0.03em;             
  text-transform: uppercase;          
  color: #4d5ae5;                    
  text-decoration: none;
}

.logo .studio {
  color: #2e2f42; /* колір тексту Studio */
}

.logo .logo-span-footer {
  color: #f4f4fd; /* колір тексту Studio у футері */
}

/* NAV */
.main-nav a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.main-nav a:hover,
.main-nav a:focus {
  color: #404bbf;
}

/* Address */
.contacts {
  font-style: normal;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}


/*HERO SECTION*/
.hero-section {
  background-color: #2e2f42;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-button {
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
  cursor: pointer;

}

.hero-button:hover,
.hero-button:focus {
  background-color: #404BBF;
}


/*ADVANTAGES*/
.advantages .advantage-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.advantages .advantage-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}


/*OUR TEAM*/
.our-team {
  background-color: #F4F4FD; 
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-member {
  background-color: #FFFFFF;
}

.member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.member-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}



/*OUR PORTFOLIO*/
.our-portfolio {
  background-color: #F4F4FD;
}

.portfolio-item {
  background-color: #FFFFFF;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}

.portfolio-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*FOOTER*/
:root {
  --text-light: #F4F4FD;
}

.site-footer {
  background-color: #2e2f42;
  color: var(--text-light);
}
.footer-desc {
  max-width: 264px;
  line-height: 1.5;
  color: var(--text-light);
  letter-spacing: 0.02em;
}