@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, p {
  margin: 0;
}

/* ====== HEADER ====== */
.site-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.site-logo .logo-span-header {
  color: #2e2f42;
}

.main-nav a {
  color: #2e2f42;
  font-weight: 500;
}

.main-nav a:hover,
.main-nav a:focus {
  color: #404bbf;
}

/* ====== HERO SECTION ====== */
.hero {
  text-align: center;
  background-color: #2e2f42;
  color: #ffffff;
}

.hero h1 {
  font-size: 56px;
  line-height: 1.07;
  margin-bottom: 48px;
}

.hero button {
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.hero button:hover,
.hero button:focus {
  background-color: #404bbf;
}

/*ADVANTAGES*/
.advantages h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #2e2f42;
}

.advantages p {
  color: #434455;
  max-width: 264px;
}

/*OUR TEAM*/
.our-team {
  background-color: #f4f4fd;
  text-align: center;
}

.our-team h2 {
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 72px;
  color: #2e2f42;
}

.our-team h3 {
  margin-top: 32px;
  margin-bottom: 8px;
  font-weight: 500;
}

.our-team p {
  color: #434455;
}

/*OUR PORTFOLIO*/
.our-portfolio {
  text-align: center;
}

.our-portfolio h2 {
  font-size: 36px;
  margin-bottom: 72px;
  color: #2e2f42;
}

.our-portfolio h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 16px 0 8px;
  color: #2e2f42;
}

.our-portfolio p {
  color: #434455;
  margin-bottom: 16px;
}

/*FOOTER*/
:root {
  --text-light: #F4F4FD;
}

.site-footer {
  background-color: #2e2f42;
  color: var(--text-light);
}

.site-logo .logo-span-footer {
  color: #f4f4fd;
}

.footer-desc {
  max-width: 264px;
  line-height: 1.5;
  color: var(--text-light);
  letter-spacing: 0.02em;
}
